Style CSS

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lexend', sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}


.form-container {
    background-color: white;
    width: 320px;
    padding: 20px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

h1 {
    color: #003a8f;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    background-color: #003a8f;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffc72c;
    color: black;
}

input[type="reset"] {
    background-color: #eee;
}


.dashboard {
    display: flex;
}


.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #003a8f;
    color: white;
    padding: 15px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
    color: #ffc72c;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.sidebar button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;

    background-color: #ffc72c;
    border: none;
}


